mongodb:
    connection:
        host: localhost
        port: 27017
        database: test

s3:
    connection:
        arn: arn:aws:s3:us-east-1::pip-services-blobs
        
    credential:
        access_id: ZZZZZZ5Z4DEVJYZ2PUXA
        access_key: ZZZZZZWjEUNWVdpPqVGjHSfwTjer//pHqBfsKkMU

    options:
        connection_timeout: 30000